#DATA TYPES AND STRUCTURES

Q.1 What are data structures, and why are they important?

  - Data structures are ways to organize and store data in a program so that it can be efficiently accessed and modified. It is also used for processing, retrieving and storing data. They are essential in programming because they enable developers to manage large amounts of data, improve code efficiency, reusability of data, and solve complex problems.

Q.2 Explain the difference between mutable and immutable data types with examples.

  - Mutable data types can be modified after creation, while immutable data types cannot. Examples:
  - Mutable: Lists [1, 2, 3], dictionaries {“a”: 1}, sets {1, 2, 3}
  - Immutable: Strings ”hello”, tuples (1, 2, 3), integers 5

Q.3 What are the main differences between lists and tuples in Python?

  - Lists are mutable, while tuples are immutable.
  - Lists are defined using square brackets `[]`, while tuples are defined using parentheses `()`.
  - Lists can be modified after creation, while tuples cannot.

Q.4 Describe how dictionaries store data.

  - Dictionaries store data as key-value pairs, where each key is unique and maps to a specific value. The data is stored in a hash table, allowing for efficient lookups and insertions.

  Example:-

  Dictionaries:
  {'city':'delhi'}

Q.5 Why might you use a set instead of a list in Python?

  - Use a set when we need to store a collection of unique elements, and we don’t care about the order. Sets provide fast membership testing, with an average time complexity of O(1). Sets automatically eliminate duplicates, making them suitable for storing unique elements and are useful for different operations like union, intersection, and difference.

Q.6 What is a string in Python, and how is it different from a list?

  - A string in python is a sequence of characters, such as letters, numbers, or symbols, enclosed in quotes (single, double, or triple quotes). while a list can store any data type, including strings, integers. Strings are immutable, while lists are mutable.

Q.7 How do tuples ensure data integrity in Python?

  - Tuples ensure data integrity by being immutable, which means their contents cannot be modified after creation. This makes tuples useful for representing constant data or data that should not be changed.

Q.8 What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table (also known as a hash map) is a data structure that stores key-value pairs in an array using a hash function to map keys to indices.

  Key Components
    1. Keys: Unique identifiers for the data being stored.
    2. Values: The data being stored.
    3. Hash function: A function that takes a key and generates a hash code, which is used to determine the index in the array.
    4. Array: The underlying data structure that stores the key-value pairs.
  
  In Python, dictionaries are implemented as hash tables, allowing for fast lookups, with an average time complexity of O(1), efficient insertions, and deletions.

Q.9 Can lists contain different data types in Python?

  - Yes, lists can contain different data types in Python.
  For example: `[1, “hello”, 3.14, True]`
  Here list contains integer, String, Float as well as Boolean also.

Q.10 Explain why strings are immutable in Python.

  - The immutability of strings in Python is due to several reasons:  
    1. Security: Immutability ensures that strings cannot be modified maliciously, which is particularly important when working with sensitive data.
    2. Thread safety: Immutable strings are thread-safe, allowing multiple threads to access the same string without fear of modification.
    3. Hashability: Immutable strings can be used as dictionary keys, which is essential for efficient data retrieval.
    4. Memory efficiency: Python can optimize memory usage by reusing immutable strings, reducing memory allocation and deallocation overhead.

Q.11 What advantages do dictionaries after over lists for certain tasks?

  - Dictionaries offer fast lookups, insertions, and deletions, making them suitable for tasks that require efficient data retrieval and manipulation. They also provide a more intuitive way to represent data with meaningful keys.

  Advantages
    1. Fast lookups: Dictionaries provide fast lookups, with an average time complexity of O(1).
    2. Key-based access: Dictionaries allow to access values using meaningful keys, making the code more readable and intuitive.
    3. Flexible data structure: Dictionaries can store a wide range of data types, including strings, integers, floats, and other dictionaries.
    4. Efficient data retrieval: Dictionaries are optimized for fast data retrieval, making them suitable for applications where data needs to be accessed quickly.

Q.12 Describe a scenario where using a tuple would be preferable over a list.

  - Using a tuple would be preferable when representing a collection of constant data that should not be changed, such as developing a calander application and we need to represent days of the week or months of the year. Here using a tuple is preferable because the days of the week don't change, making a tuple a suitable choice. Using a tuple ensures that the days of the week remain unchanged throughout the application.

Q.13 How do sets handle duplicate values in Python?

  - Sets automatically eliminate duplicate values, ensuring that each element is unique. When we try to add a duplicate value to a set, it will be ignored.

  Example

    my_set = {1, 2, 2, 3, 3, 3}
    
    print(my_set)  
    #### Output: {1, 2, 3}

  Using sets to eliminate duplicates provides several benefits:

    1. Efficient: Sets use a hash table internally, making duplicate elimination efficient.
    2. Convenient: Sets provide a simple way to work with unique elements.

Q.14 How does the "in" keyword work differently for lists and dictionaries?

  - For lists, the `in` keyword checks if an element is present in the list. For dictionaries, the `in` keyword checks if a key is present in the dictionary.

Q.15 Can you modify the elements of a tuple? Explain why or why not.

  - No, we cannot modify the elements of a tuple because tuples are immutable, meaning their contents cannot be changed after creation. This is because tuples are designed to be:

    1. Immutable: Tuples are meant to be constant and unchanging.
    2. Hashable: Tuples can be used as dictionary keys because of their immutability.
  
  Attempting to modify a tuple will raise a `TypeError`.

Q.16 what is a nested dictionary, and give an example of its use case?

  - A nested dictionary is a dictionary that contains another dictionary as a value. Example: `{“person”: {“name”: “John”, “age”: 30}}`. Use case: Representing complex data structures, such as a person’s details.

Q.17 Describe the time complexity of accessing elements in a dictionary.

  - The time complexity of accessing elements in a dictionary is O(1) on average, making dictionaries suitable for fast lookups. Also known as constant time complexity.

  Dictionaries use a data structure called a hash table, which allows for fast lookups. Here's why:

    1. Hash function: When we insert a key-value pair, the dictionary uses a hash function to map the key to a specific index in the hash table.
    2. Direct access: When we access a value by its key, the dictionary uses the same hash function to calculate the index and retrieve the value directly.

  Average Case vs Worst Case
  While the average time complexity is O(1), the worst-case scenario can be O(n), where n is the number of key-value pairs. This can occur when:

    1. Hash collisions: Multiple keys hash to the same index, leading to a collision.
    2. Poor hash function: A poorly designed hash function can lead to frequent collisions.

Q.18 In what situations are lists preferred over dictionaries?

  - Lists are preferred when we need to store a collection of elements that need to be accessed by index or when the order of elements matters.

  Choosing between lists and dictionaries
    1. Use lists when to store a collection of elements that need to be accessed by index. When The order of elements matters.
    2. Use dictionaries when to store key-value pairs and access values by their corresponding keys. When fast lookups, insertions, and deletions are required.

Q.19 Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Dictionaries are considered unordered because the order of key-value pairs is not guaranteed and iterating over a dictionary could yield different results each time.

  The unordered nature of dictionaries affected data retrieval in the following ways:

    1. No guaranteed order: When iterating over a dictionary, we couldn't rely on a specific order of key-value pairs.
    2. Index-based access not possible: we couldn't access dictionary elements by index, as the order was not fixed.


Q.20 Explain the difference between a list and a dictionary in terms of data retrieval.

  - Lists
      1. Index-based access: Lists are indexed, meaning we can access elements by their position (index).
      2. Ordered data: Lists maintain the order of elements.
      3. Access by index: Use the index to retrieve a specific element, e.g., my_list[0].

  - Dictionaries
      1. Key-based access: Dictionaries are key-value pairs, and we access values by their corresponding keys.
      2. Unordered data : Dictionaries did not maintain a specific order.
      3. Access by key: Use the key to retrieve a specific value, e.g., my_dict["name"].

In [ ]:
# Q.1 Write a code to create a string with you name and print it.
name = input("Enter your name: ")
print(name)

Enter your name: Sandeep
Sandeep

In [ ]:
# Q.2 Write a code to find the length of the string "Hello World".
a = "Hello World"
print(len(a))

11

In [ ]:
# Q.3 Write a code to slice the first 3 characters from the string "Python Programming".
a = "Python Programming"
print(a[0:3])

Pyt

In [ ]:
# Q.4 Write a code to convert the string "hello" to uppercase.
a = "hello"
print(a.upper())

HELLO

In [ ]:
# Q.5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
a = "I like apple"
print(a.replace("apple", "orange"))

I like orange

In [ ]:
# Q.6 Write a code to create a list with numbers 1 to 5 and print it.
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
# Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4].
a = [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [ ]:
# Q.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
a = [1, 2, 3, 4, 5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [ ]:
# Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
a = ['a', 'b', 'c', 'd']
print(a[1])

b

In [ ]:
# Q.10 Write a code to reverse the list [10, 20, 30, 40, 50].
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [ ]:
# Q.11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
a = (100, 200, 300)
print(a)

(100, 200, 300)

In [ ]:
# Q.12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
a = ('red', 'green', 'blue', 'yellow')
print(a[-2])

blue

In [ ]:
# Q.13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a = (10, 20, 5, 15)
print(min(a))

5

In [ ]:
# Q.14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a = ('dog', 'cat', 'rabbit')
print(a.index('cat'))

1

In [ ]:
# Q.15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a = ('apple', 'banana', 'orange')
print("kiwi" in a)
b = ('apple', 'banana', 'kiwi')
print("kiwi" in b)

False
True

In [ ]:
# Q.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a = {'a', 'b', 'c'}
print(a)

{'a', 'b', 'c'}

In [ ]:
# Q.17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a = {1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [ ]:
# Q.18 Write a code to remove the element 4 from the set {1, 2, 3, 4}
a = {1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [ ]:
# Q.19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [ ]:
# Q.20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [ ]:
# Q.21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
a = {"name": "John", "age": 25, "city": "New York"}
print(a)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
# Q.22 Write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'john','age':25}.
a = {'name':'john','age':25}
a["country"] = "USA"
print(a)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
# Q.23 Write a code to access the value associated with the key "name" in the dictionary {'name':'Alice', 'age':30}.
a = {'name':'Alice', 'age':30}
print(a["name"])

Alice

In [ ]:
# Q.24 Write a code to remove the kwy "age" from the dictionary {'name':'Bob','age':22,'city':'New York'}.
a = {'name':'Bob','age':22,'city':'New York'}
del a["age"]
print(a)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Q.25 Write a code to check if the key "city" exists in the dictionary {'name':'Alice','city':'Paris'}.
a = {'name':'Alice','city':'Paris'}
print("city" in a)

True

In [ ]:
# Q.26 Write a code to create a list, a tuple, and a dictionary, and print them all.
a = [1, 2, 3]
b = (4, 5, 6)
c = {"name": "John", "age": 25}
print(a)
print(b)
print(c)

[1, 2, 3]
(4, 5, 6)
{'name': 'John', 'age': 25}

In [ ]:
# Q.27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
a = [random.randint(1, 100) for i in range(5)]
a.sort()
print(a)

[17, 23, 25, 37, 70]

In [ ]:
# Q.28 Write a code to create a list with strings and print the elements at the third index.
a = ["apple", "banana", "orange", "grape", "kiwi"]
print(a[3])

grape

In [ ]:
# Q.29 Write a code to combine two dictionaries into one and print the result.
a = {"name": "John", "age": 25}
b = {"city": "New York", "country": "USA"}
a.update(b)
print(a)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [ ]:
# Q.30 Write a code to convert a list of strings into a set.
a = ["apple", "banana", "orange", "grape", "kiwi"]
b = set(a)
print(b)

{'banana', 'apple', 'orange', 'grape', 'kiwi'}